<h2>
  Re-styled
</h2>

<EmberDragula @onDrop={{this.dropped}} @onDrag={{this.dragged}} >
  <EmberDragulaContainer class="list">
    {{#each this.listOne as |item|}}
      <div class="item restyle">
        {{item.name}}
      </div>
    {{/each}}
  </EmberDragulaContainer>

  <EmberDragulaContainer class="list">
    {{#each this.listTwo as |item|}}
      <div class="item restyle">
        {{item.name}}
      </div>
    {{/each}}
  </EmberDragulaContainer>
</EmberDragula>